@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}
